<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllClassSuite">

    <test name="AddEntryNamePostAPI">
        <classes>
            <class name="com.alliance.addNewEntryName.AddNewEntryNameNegativeTests"/>
            <class name="com.alliance.addNewEntryName.AddNewEntryNamePositiveTest"/>
        </classes>
    </test>

    <test name ="UpdateEntryNamePatchApi">
        <classes>
            <class name ="com.alliance.updateEntryName.UpdateEntryNameNegativeTests"/>
            <class name="com.alliance.updateEntryName.UpdateEntryNamePositiveTests"/>
        </classes>
    </test>

    <test name="ViewEntryNameGetApi">
        <classes>
            <class name="com.alliance.viewEntryNameDetails.ViewEntryNameNegativeTests"/>
            <class name="com.alliance.viewEntryNameDetails.ViewEntryNamePositiveTests"/>
        </classes>
    </test>
</suite>
